<div class="footer-container">
    <h2>Servicio al cliente</h2>
    <a class="footer-button" href="https://tu-sitio-web.com" target="_blank" rel="noopener">VISITA NUESTRA WEB</a>
    <div class="contact-numbers">
        <a class="footer-button" href="tel:0992020600">099 20 20 600</a>
        <a class="footer-button" href="tel:0962840400">096 28 40 400</a>
        <a class="footer-button" href="https://tu-sitio-web.com/contact" target="_blank" rel="noopener">Habla con nuestros agentes</a>
    </div>
</div>